.bigtitle{
  color: darkred;
  font-weight: bolder;
  text-align: center;
  font-family: Lato;

}

.bigtitle2{
  color: dimgray;
  font-weight: bolder;
  font-size: 70px;
  text-align: center;
  font-family: Lato;

}
